@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nosifer&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;  
    color: white;
}

#fuente-especial {
    font-family: "Nosifer", sans-serif;
    font-size: 60px;

}

.index {
    height: 100vh;
    background-image:linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75)),url(../img/posible.jpg);
    background-size: cover;
    background-position: center;
}

.index-section {
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    height: 100vh;
    text-align: center;
}

.index-titulo {
    font-size: 30px;
    grid-row: 1;
}

.index-formulario {
    display: flex;
    flex-direction: column;
    grid-row: 2;
    align-self: center;
    justify-self: center;
    gap: 10px;
}

#btnContinuar {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: steelblue;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

#btnContinuar:hover {
    background-color: deepskyblue;
}

#nombreCliente {
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

.index-formulario p {
    margin: 0;
    font-size: 18px;
}

.productos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100px 100px 1fr;
    height: 100vh;
    background-color: white;
    color: #333;
}

nav{
    grid-column: 2 / 3;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    gap: 30px;
    background-color: white;
    border-bottom: 1px grey solid;
}

nav a:hover {
    color: grey;
}

.bussy-nav{
    display: flex;
    align-items: center;
    justify-content:flex-start;
    padding-left: 20px;
    background-color: white ;
    border-bottom: grey solid 1px;
    font-size: 35px;
    grid-column: 1 / 2;
    font-family: "Nosifer", sans-serif;
}

a {
    color: black;   
    text-decoration: none;
    font-weight: bold;
    font-size: large;
}

.productos header{
    grid-column: 2 / 3;
    text-align: center;
    padding: 20px 0;
}

.iconos-nav {
    grid-column: 3 / 4;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding-right: 20px;
    border-bottom: grey solid 1px;
}

.carrito-icon:hover {
    color: grey;
}

#btnOrden {
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    background: none;
    border: none;
}

#btnOrdenAlf {
    font-weight: bold;
    font-size: 21px;
    cursor: pointer;
    background: none;
    border: none;
}

#btnOrden:hover, #btnOrdenAlf:hover {
    color: grey;
}

.btnTema {
    font-size: 20px;
    cursor: pointer;
    background: none;
    border: none;
    grid-column: 3 / 4;
    padding-right: 60px;
    color: black;
}

.marquesina {
    position: fixed;
    bottom: 0;               
    width: 100%;
    overflow: hidden;
    background: black;      
    color: white;             
    white-space: nowrap;
    padding: 10px 0;
    z-index: 1000; 
}

.texto {
    display: inline-block;
    animation: mover 45s linear infinite;
}

.texto span {
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    letter-spacing: 2px;
    font-weight: 600;
}

@keyframes mover {
    0%   { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}

.texto:hover {
    animation-play-state: paused;
}