body{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    color: white;
}

#fuente-especial {
    font-family: "Shrikhand", serif;
}

.index {
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    height: 100vh;
    background-image:linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75)),url(./img/posible.jpg);
    background-size: cover;
    background-position: center;
}

.index-section {
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    text-align: center;
}

.index-titulo {
    font-size: 30px;
    grid-row: 1;
}

.index-formulario {
    display: flex;
    flex-direction: column;
    grid-row: 2;
    align-self: center;
    justify-self: center;
    gap: 10px;
}

#btnContinuar {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: steelblue;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

#btnContinuar:hover {
    background-color: deepskyblue;
}

#nombreCliente {
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

.index-formulario p {
    margin: 0;
    font-size: 18px;
}

.productos{
    
}